:root {
    --secondary: #E5E5E5;
    --text: #0F0F0F;
}

html[dark] {
    --primary: #272727;
    --secondary: #3F3F3F;
    --text: #F1F1F1;
}

.yt-comments-enhanced-buttons {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.0rem;
    font-weight: 300;
    margin: 0 1px;
    background: transparent;
    color: var(--text);
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.yt-comments-enhanced-buttons:hover {
    background-color: rgba(160, 160, 160, 0.5);
    opacity: 0.9;
}

.yt-comments-enhanced-buttons:active {
    background-color: rgba(180, 180, 180, 0.65);
}

.yt-comments-enhanced-preview-container {
    border: 1px solid var(--secondary);
    border-radius: 12px;
    color: var(--text);
    margin-top: 10px;
    padding: 10px 16px 16px 16px;
    position: relative;
    background: transparent;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}

.yt-comments-enhanced-preview-container>span {
    margin-top: 8px;
    font-size: 1.2rem;
    display: block;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.yt-comments-enhanced-clear {
    font-size: 1.8rem;
    font-weight: 300;
}

.yt-comments-enhanced-preview-toggle {
    font-size: 2.2rem;
}